.sidebar{
    background-color: #f1f1f1;
    height: 100%;
    margin :20px 10px 20px;
    padding: 10px;
    border-radius: 15px;
}
.hidden{
    display:none;
}

.bar{
    background-color: crimson;
}
.homeFire{
    background-color: crimson;
}